<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>Battle of the heroes</h3>
    <p>
      Battle of the heroes is een automatic battle game waar de speler zijn eigen hero kan aanmaken en daar
      dan een wapen aan kan toevoegen. De speler zijn hero met weapons wordt opgeslagen in de database. De
      speler kan vechten tegen een gekozen cpu in een battleground. In de battleground zijn er conditions
      zoals sneeuw of storm wat het gevecht beinvloed. <br /><br />
      De admin kan inloggen. Die kan alle hero, wapens en battlegrounds toevoegen, wijzigen of verwijderen. Zo
      kan de admin ook een hero aanmaken en daar een cpu van maken. Die cpu kan weer worden gekozen door de
      speler om tegen te vechten.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="https://scontent-ams4-1.xx.fbcdn.net/v/t1.0-9/51525918_2163365463721133_7766129567927894016_o.jpg?_nc_cat=104&_nc_oc=AQkzkkMP4Mkl2Sn5zswWRYoCCsBDNX-9MKF0p5cms-eNb_Xn-BvEh8yPyz5pv1qaNCXgSaCwCKbyPprMHX8GLX1V&_nc_ht=scontent-ams4-1.xx&oh=5069f5c53c95454dbf5c3b958ed0c6b2&oe=5E4F26FD"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Dilivio Chin-a-Teh</h5>
        <p class="card-text">
          Studentnummer: 2140850
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Hero</p>
    <ul>
      <li>name: string</li>
      <li>id: number</li>
      <li>class: string[]</li>
      <li>power: number</li>
      <li>health: number</li>
      <li>image: string</li>
      <li>description: string</li>
      <li>weapons: weapon[]</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Weapon</p>
    <ul>
      <li>name: string</li>
      <li>id: number</li>
      <li>power: number</li>
      <li>type: string[]</li>
      <li>description: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Battleground</p>
    <ul>
      <li>name: string</li>
      <li>id: number</li>
      <li>condition: string[]</li>
      <li>heros: Hero[]</li>
      <li>description: string</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
