<div class="modal-body">
  <form #battlegroundForm="ngForm" (ngSubmit)="addBattleground()">
    <div class="form-group">
      <div class="row">
        <div class="col">
          <label for="yourHeroes">Your heroes</label>
          <select class="form-control" id="yourHero" [(ngModel)]="yourFirstHero" name="yourHero" required>
            <option *ngFor="let yourHero of yourHeroes" [value]="yourHero._id">{{ yourHero.name }}</option>
          </select>
        </div>
        <div class="col">
          <label for="enemyHeroes">Enemy heroes</label>
          <select class="form-control" id="enemyHero" [(ngModel)]="enemyFirstHero" name="enemyHero" required>
            <option *ngFor="let enemyHero of enemyHeroes" [value]="enemyHero._id">{{
              enemyHero.name
            }}</option>
          </select>
        </div>
      </div>
      <br />
      <label for="enemyHeroes">Condition</label>
      <select class="form-control" id="condition" [(ngModel)]="model.condition" name="condition" required>
        <option *ngFor="let condition of conditions" [value]="condition">{{ condition }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
