<div class="modal-body">
  <form #heroForm="ngForm" (ngSubmit)="editHero()">
    <div class="form-group">
      <label for="name">Hero name</label>
      <input
        type="email"
        id="name"
        class="form-control"
        [(ngModel)]="hero.name"
        required
        name="name"
        #name="ngModel"
      />
    </div>
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Name is required
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        [(ngModel)]="hero.description"
        name="description"
        rows="3"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="classes">Class</label>
      <select class="form-control" id="class" [(ngModel)]="hero.classes" name="classes" required>
        <option *ngFor="let class of classes" [value]="class">{{ class }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="weapon">Weapon equiped</label>
      <select class="form-control" id="weapon" [(ngModel)]="equipedWeapon" name="weapons" required>
        <option *ngFor="let weapon of weapons" [value]="weapon._id">{{ weapon.name }}</option>
      </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary" [disabled]="!heroForm.form.valid">Submit</button>
    <button type="button" class="btn btn-primary float-right" (click)="addWeapon()">Add weapon</button>
  </form>
</div>
