`
<div class="modal-body">
  <form #heroForm="ngForm" (ngSubmit)="addHero()">
    <div class="form-group">
      <label for="name">Hero name</label>
      <input
        type="email"
        id="name"
        class="form-control"
        [(ngModel)]="model.name"
        required
        name="name"
        #name="ngModel"
      />
    </div>
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Name is required
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        [(ngModel)]="model.description"
        name="description"
        rows="3"
      ></textarea>
    </div>

    <select class="form-control" id="class" [(ngModel)]="model.classes" name="classes" required>
      <option *ngFor="let class of classes" [value]="class">{{ class }}</option>
    </select>
    <br />
    <button type="submit" class="btn btn-primary" [disabled]="!heroForm.form.valid">Submit</button>
  </form>
</div>
