<h1>My heroes</h1>
<ul class="list-group">
  <li *ngFor="let hero of heroes" class="list-group-item d-flex justify-content-between align-items-center">
    <a style="cursor: pointer" (click)="onClickEdit(hero)">{{ hero.name }}</a>
    <span (click)="onClickDelete(hero)"><fa-icon style="cursor: pointer" [icon]="faTrashAlt"></fa-icon></span>
  </li>
</ul>
<br />
<button class="btn btn-lg btn-outline-primary" (click)="onClickAdd()">Add Hero</button>
