<div class="modal-body">
  <form #weaponForm="ngForm" (ngSubmit)="addWeapon()">
    <div class="form-group">
      <h3>You can name your weapon, but your weapon will get random stats.</h3>
      <label for="name">Weapon name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        [(ngModel)]="weapon.name"
        required
        name="name"
        #name="ngModel"
      />
    </div>
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Name is required
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        [(ngModel)]="weapon.description"
        name="description"
        rows="3"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="classes">Types</label>
      <select class="form-control" id="type" required [(ngModel)]="weapon.type" name="type">
        <option *ngFor="let type of types" [value]="type">{{ type }}</option>
      </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary" [disabled]="!weaponForm.form.valid">Submit</button>
  </form>
</div>
