<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTO0gffwqlSKKQLFgoxvjs0lzOEa9lLnEslcs9gssSDg-Urng34&s"
        id="icon"
        alt="User Icon"
      />
    </div>

    <form [formGroup]="signupForm" (ngSubmit)="registerUser()">
      <label>Name</label><br />
      <input
        id="name"
        class="form-control"
        name="name"
        placeholder="name"
        type="text"
        formControlName="name"
        placeholder="Enter name"
        required
      />
      <br /><br />
      <label>Email address</label>
      <input
        [class.is-invalid]="signupForm.get('email').invalid && signupForm.get('email').touched"
        id="login"
        class="form-control"
        name="login"
        placeholder="login"
        type="email"
        formControlName="email"
        placeholder="Enter email"
        required
      />
      <label class="text-danger" *ngIf="signupForm.controls['email'].hasError('pattern')">
        This is not a valid email!
      </label>
      <br /><br />
      <label>Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
        placeholder="Password"
      />

      <label class="text-danger" *ngIf="signupForm.controls['password'].hasError('minlength')">
        Must be atleas 5 characters
      </label>

      <label class="text-danger" *ngIf="signupForm.controls['password'].hasError('maxlength')">
        Must be shorter then 8 characters
      </label>
      <br /><br />

      <input type="submit" class="fadeIn fourth" value="Register" />
    </form>

    <div id="formFooter">
      <a
        *ngIf="!this.authService.isLoggedIn"
        routerLinkActive="active"
        routerLinkActive="active"
        routerLink="/log-in"
        >Log in</a
      >
    </div>
  </div>
</div>
