<div class="container">
  <div class="row">
    <div class="inner-main">
      <h2 class="mb-4">User Profile</h2>
      <!---- <p><strong>Name:</strong> {{ this.currentUser.name }}</p>
      <p><strong>Email:</strong> {{ this.currentUser.email }}</p> -->
    </div>
  </div>
</div>
