<div class="list-group">
  <h1>All fights on battlegrounds</h1>
  <a
    *ngFor="let battleground of battlegrounds"
    class="list-group-item list-group-item-action flex-column align-items-start"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ battleground.name }}</h5>
      <small><b>Condition: </b>{{ battleground.condition }}</small>
    </div>
    <p class="mb-1">{{ battleground.winMessage }}</p>
    <small
      >Heroes that fighted: <b>{{ battleground.heroes[0].name }}, {{ battleground.heroes[1].name }}</b>
    </small>
  </a>
</div>
<br />
<button class="btn btn-lg btn-outline-primary" (click)="onClickAdd()">Start fight on a battleground</button>
