<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTO0gffwqlSKKQLFgoxvjs0lzOEa9lLnEslcs9gssSDg-Urng34&s"
        id="icon"
        alt="User Icon"
      />
    </div>

    <form [formGroup]="signinForm" (ngSubmit)="loginUser()">
      <input
        [class.is-invalid]="signinForm.get('email').invalid && signinForm.get('email').touched"
        id="login"
        class="form-control"
        name="login"
        placeholder="login"
        type="email"
        formControlName="email"
        placeholder="Enter email"
        required
      />
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
        placeholder="Password"
      />

      <input type="submit" class="fadeIn fourth" value="Log In" />
    </form>
    <ngb-alert type="danger" *ngIf="!closed" (close)="closed = true"
      >Email and password don't match!</ngb-alert
    >

    <div id="formFooter">
      If you don't have a account yet don't hesitate to create one!
      <a
        *ngIf="!this.authService.isLoggedIn"
        routerLinkActive="active"
        routerLinkActive="active"
        routerLink="/sign-up"
        >Sign up here!
      </a>
    </div>
  </div>
</div>
